* {box-sizing: border-box}

html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", sans-serif
}

body {
    background-color: #f1f1f1;
    line-height: 1.5;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

.container {
    padding: 0.01em 16px;
}

.teal, .hover-teal:hover {
    color: #fff!important;
    background-color: #009688!important;
}

.text-teal, .hover-text-teal:hover {
    color: #009688!important;
}

.light-grey, .hover-light-grey:hover, .light-gray, .hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important;
}

.text-grey{
    color: grey!important;
}

.text-center {
    text-align: center!important;
}

.large-text {
    font-size: 18px!important;
}

.small-text {
    font-size: 12px!important;
}

.margin-right {
    margin-right: 16px!important;
}

.round-xlarge {
    border-radius: 16px;
}

.hover-opacity:hover {
    opacity: 0.70;
}

.padding-16 {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
}


.tooltip {
	display:none;
	position:absolute;
	background-color:#ff5858;
	border-radius:5px;
	padding:10px;
	color:#fff;
}