header {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    text-align: left;
    min-height: 36px;
    line-height: 40px;
    font-size: 20px;
}

#navMobile{
    border-top: 1px solid #f1f1f1;
}

header a{
        padding: 8px 16px;
        float: left;
        width: auto;
        border: none;
        display: inline-block;
        outline: 0;
        overflow: hidden;
        text-decoration: none;
        color: #fff;
}

#navMobile a{
    padding: 8px 16px;
    width: auto;
    border: none;
    display: block;
    text-decoration: none;
    color: #fff;
    width: 100%;
    border-top: 1px solid #f1f1f1;
}

header a:hover {
    color: #000!important;
    background-color: #fff!important;
}

.logo{
    font-size: 28px;
    border-left:  1px  solid #f1f1f1;
    border-right:  1px  solid #f1f1f1;
}

.header-avatar {
    float: right;
    padding: 8px 30px;
}

.burgger-menu{
float:right;
padding: 8px 25px 8px 20px;
}

.header-avatar img{
    vertical-align: middle;
    border-radius: 50%;
}

.badge {
    float: right;
    border-radius: 50%;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    background-color:#ff5858;
    line-height: 2;
}

.badge-mobile {
    border-radius: 50%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    background-color:#ff5858;

}

@media (max-width: 992px) {

.hide-small {
    display: none;
}

}

@media (min-width: 993px) {

    .hide-large {
        display: none;
    }
    
    }